{% extends "base_templates/base.html" %}

{% block content %}
<form method="post" class="uk-card uk-card-default uk-dark uk-card-hover uk-card-body uk-width-2-2@m uk-animation-slide-top">
    {% csrf_token %}
    <br class="uk-fieldset">
    <div class="uk-card-header">
        <legend align="center">Adding a new vote</legend>
    </div>

    <div class="uk-card-body">
        <div class="uk-margin">
            <span class="uk-legend uk-text-middle">The topic for voting</span>
            <input class="uk-input" type="text" placeholder="Title">
        </div>

        <div class="uk-margin">
            <span class="uk-legend uk-text-middle">Answer choices</span>

            <div class="uk-flex">
                <input class="uk-input" type="text" style="margin-bottom:1.3em;margin-right:0.3em">
                <a class="uk-button uk-button-default uk-close uk-height-1-1" uk-close></a>
            </div>

            <div class="uk-flex">
                <input class="uk-input" type="text" style="margin-bottom:1.3em;margin-right:0.3em">
                <a class="uk-button uk-button-default uk-close uk-height-1-1" uk-close></a>
            </div>

            <div class="uk-flex">
                <input class="uk-input" type="text" style="margin-bottom:1.3em;margin-right:0.3em">
                <a class="uk-button uk-button-default uk-close uk-height-1-1" uk-close></a>
            </div>

            <input class="uk-input" type="text" placeholder="Add new choice" style="margin-bottom:1.3em">
        </div>

        <input type="checkbox" class="uk-checkbox">   Selecting multiple options<br>

        <input class="uk-button uk-button-primary" type="submit" value="Post voteing" style="margin-top:2em">
    </div>
    </fieldset>

    </form>
{% endblock %}