{% extends "base_templates/base.html" %}

{% block content %}
<form method="post" class="uk-card uk-card-default uk-dark uk-card-hover uk-card-body uk-width-2-2@m uk-animation-slide-top">
    {% csrf_token %}
    <br class="uk-fieldset">
    <div class="uk-card-header">
        <legend align="center">Создайте ваш vote</legend>
    </div>

    <div class="uk-card-body">
        <div class="uk-margin">
            <span class="uk-legend uk-text-middle">Ваш вопрос</span>
            <input class="uk-input" type="text" placeholder="...">
        </div>

        <div class="uk-margin">
            <span class="uk-legend uk-text-middle">Введите варианты ответа</span>
            <div class="" id="Pols">
               
            </div>
            <div class="uk-button uk-button-default" id="AddVoteP">Добавить пункт</div>

        </div>

        <input type="checkbox" class="uk-checkbox"> Много вариантный режим<br>

        <input class="uk-button uk-button-primary" type="submit" value="Опубликовать vote" style="margin-top:2em">
    </div>
</form>



{% endblock %}
