{% extends "base_templates/base.html" %}

{% block content %}
<div align="center">
    <div class="uk-card uk-card-default uk-dark uk-card-hover uk-card-body uk-width-2-2@m uk-animation-slide-top">
        <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
            <div class="uk-card-media-left uk-cover-container">
                <img src="/static/Avatars/1.jpg" alt="">
                <canvas width="600" height="100"></canvas>
            </div>

            <div class="uk-card-body">
                <div align="left" class="uk-margin">
                    <h3 class="uk-card-title">Ваш никнейм</h3>
                    <input type="text" id="names" disabled class="uk-input" style="display: inline-block" value="{{user}}">
                </div>
                <div align="left" class="uk-margin">
                    <h3 class="uk-card-title">Ваш E-mail</h3>
                    <input type="text" id="email" disabled class="uk-input" value="vasya@mail.ru">
                </div>
            </div>
        </div>
        <div class="uk-button uk-button-default" id="name_c">Изменить имя</div>
        <div class="uk-button uk-button-default" id="mail_c">Изменить e-mail</div>
        <a class="uk-button uk-button-default" href="#NewFoto" uk-toggle>Изменить фото</a>
        <a class="uk-button uk-button-default" href="#ChangePass" uk-toggle>Изменить пароль</a>

        {% include "pages/change_password.html" %}

    </div>
</div>



<script>
    'use strict';
    name_c.addEventListener('click', function(){
        names.removeAttribute("disabled");
    });

    names.addEventListener('keydown', function(e) {
      if (e.keyCode == 13) {
           names.setAttribute("disabled", "");
           let a = new XMLHttpRequest();
           a.open("POST", "/change_password?users" + String(names.value), true);
           a.send();
      }
    });
</script>

{% endblock %}