{% extends "base_templates/base.html" %}

{% block content %}
<div align="center">
    <div class="uk-card uk-card-default uk-dark uk-card-hover uk-card-body uk-width-2-2@m uk-animation-slide-top">
        <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
            <div class="uk-card-media-left uk-cover-container">
                <img src="/static/Avatars/1.jpg" alt="">
<!--                <canvas width="600" height="400"></canvas>-->
            </div>

            <div class="uk-card-body">
                <div class="uk-margin">
                    <h3 class="uk-card-title">Ваше имя</h3>
                    <input type="text" id="names" disabled class="uk-input" style="display: inline-block" value="{{user}}">
                </div>
                <div class="uk-margin">
                    <h3 class="uk-card-title">Ваш E-mail</h3>
                    <input type="text" id="email" disabled class="uk-input" value="vasya@mail.ru">
                </div>
            </div>
        </div>
        <div class="uk-button uk-button-default" id="name_c">Изменить имя</div>
        <div class="uk-button uk-button-default" id="mail_c">Изменить e-mail</div>
        <a class="uk-button uk-button-default" href="#NewFoto" uk-toggle>Изменить фото</a>
        <a class="uk-button uk-button-default" href="#ChangePass" uk-toggle>Изменить пароль</a>
        <div align="center" class="" id="ChangePass" uk-modal>
            <form method="post" class="uk-card uk-card-default uk-dark uk-card-hover uk-card-body uk-width-1-2@m uk-animation-slide-top">
                {% csrf_token %}
                <div class="uk-card-header">
                    <div class="container uk-crad-header">
                        <h2 align="center">Change password</h2>
                    </div>
                </div>
                <fieldset class="uk-fieldset">

                    <div class="uk-margin">
                        <span align="left" class="uk-legend">{{ form.old_password.label }}</span>
                        {{ form.old_password }}
                    </div>

                    <div class="uk-margin">
                        <span align="left" class="uk-legend">{{ form.new_password1.label }}</span>
                        {{ form.new_password1 }}
                    </div>

                    <ul align="center" class="uk-list ">
                        <li>Your password can't be too similar to your other personal information.</li>
                        <li>Your password must constains at least 8 characters.</li>
                        <li>Your password can't be a commonly used password.</li>
                        <li>Your password can't be entirely numeric.</li>
                    </ul>

                    <div class="uk-margin">
                        <span align="left" class="uk-legend">{{ form.new_password2.label }}</span>
                        {{ form.new_password2 }}
                    </div>
                    <div class="uk-modal-footer uk-text-right">
                        <button class="uk-button uk-button-default uk-modal-close" type="button">Отмена</button>
                        <input class="uk-button uk-button-primary" type="submit" value="Изменить">
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
  
<script>
    'use strict';
    name_c.addEventListener('click', function(){
        names.removeAttribute("disabled");
    });
    
    names.addEventListener('keydown', function(e) {
      if (e.keyCode == 13) {
           names.setAttribute("disabled", "");
           let a = new XMLHttpRequest();
           a.open("POST", "/change_password?users" + String(names.value), true);
           a.send(); 
      } 
    });
</script>
   
{% endblock %}
