<div align="center" class="" id="ChangePass" uk-modal>
    <form method="post" class="uk-card uk-card-default uk-dark uk-card-hover uk-card-body uk-width-1-2@m uk-animation-slide-top">
        {% csrf_token %}
        <div class="uk-card-header">
            <div class="container uk-crad-header">
                <h2 align="center">Изменение пароля</h2>
            </div>
        </div>
        <fieldset class="uk-fieldset">


            <div class="uk-margin" align="left">
                <span class="uk-legend">Текущий пароль</span><br>
                {{ form.old_password }}
            </div>

            <div class="uk-margin" align="left">
                <span class="uk-legend">Новый пароль</span><br>
                {{ form.new_password1 }}
            </div>

            <ul class="uk-list" align="left">
                <li>Пароль должен состоять минимум из 8 символов латинского алфавита, а также иметь символы разных регистров и цифры(у).</li>
            </ul>

            <div class="uk-margin" align="left">
                <span class="uk-legend">Подтверждение нового пароля</span><br>
                {{ form.new_password2 }}
            </div>
            <div class="uk-modal-footer uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" type="button">Отмена</button>
                <input class="uk-button uk-button-primary" type="submit" value="Изменить пароль">
            </div>
        </fieldset>
    </form>
</div>