{% extends "base_templates/base.html" %}

{% block content %}

{% for post in posts %}
<form method="post" class = "uk-card uk-card-default uk-dark uk-card-hover uk-card-body uk-width-2-2@m uk-animation-slide-left">
    {% csrf_token %}

    <div class="uk-card-header">
        <legend class="uk-legend uk-text-middle uk-flex uk-flex-center" >{{ post.text}}</legend>
    </div>

    <div class="uk-card-body uk-margin-small-right">
        {% for answer in answers %}
        <div class="uk-flex uk-flex-center" style="margin-bottom:1em">
            {% if answer.post == post %}
            <div  class="uk-button uk-button-default k-flex uk-flex-center" onclick="Vot({{ answer.id }})">
                {{ answer.text }}
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>

    <div class="uk-card-footer uk-flex uk-flex-center">
        <img src="../../../static/icons/32x32/like.png">
        <span class="uk-badge" > 0</span>
    </div>
    <script>
        function Vot(e) {
            let xhr = new XMLHttpRequest();
            xhr.open('GET', '/vot?id=' + e, true);
            xhr.send();
            xhr.onreadystatechange = function() { // (3)
                if (xhr.readyState == 4 && xhr.status != 200) {

                }
                window.location = window.location;
            }
        }

    </script>
</form>
{% endfor %}
{% endblock %}