<div align="center" id="{{ item.punct_text }}" uk-modal>
                    <form method="POST" class="uk-card uk-card-default uk-dark uk-card-hover uk-card-body uk-width-1-2@m uk-animation-fade">
                        {% csrf_token %}
                        <div class="uk-modal-header">
                            <h2 class="uk-modal-title " align="center">Регистрация</h2>
                        </div>
                        <fieldset class="uk-fieldset">
                            <div class="uk-modal-footer uk-text-left" align="left">
                                <div class="uk-margin" align="left">
                                    <span class="uk-legend">Имя пользователя</span><br>
                                    {{ form1.username }}
                                </div>

                                <div class="uk-margin" align="left">
                                    <span class="uk-legend">Придумайте пароль</span><br>
                                    {{ form1.password1 }}
                                </div>

                                <ul class="uk-list" align="left">
                                    <li>Пароль должен состоять минимум из 8 символов латинского алфавита, а также иметь символы разных регистров и цифры(у).</li>
                                </ul>

                                <div class="uk-margin" align="left">
                                    <span class="uk-legend">Повторите пароль</span><br>
                                    {{ form1.password2 }}
                                </div>
                            </div>
                        </fieldset>
                        <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                            {{ form1.male }}
                            {{ form1.female }}
                        </div>
                        <div class="uk-modal-footer uk-text-right">
                            <button class="uk-button uk-button-default uk-modal-close" type="button">Отмена</button>
                            <input class="uk-button uk-button-primary" type="submit" value="Зарегистрироваться">
                        </div>

                    </form>
                </div>