{% extends "base_templates/base.html" %}

{% block content %}
<div class="uk-card uk-card-default uk-dark uk-card-hover uk-card-body uk-width-2-2@m uk-animation-slide-top">
    <legend class="uk-legend">New voting</legend>

    <div class="uk-margin">
        <input class="uk-input" type="text" placeholder="Title">
    </div>

    <div class="uk-margin">
        <textarea class="uk-textarea" rows="5" placeholder="Ты, да, да, именно ты должен дописать эту форму, это вовсе не рабочая страница, это костыль который ТЫ ДОЛЖЕН ДОВЕСТИ ДО УМА"></textarea>
    </div>

    <div class="uk-margin">
        <span class="uk-text-middle">Voting type</span>
        <select class="uk-select">
            <option>Type1</option>
            <option>Type2</option>
            <option>Type3</option>
        </select>
    </div>

    <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
        <label><input class="uk-radio" type="radio" name="radio2" checked> A</label>
        <label><input class="uk-radio" type="radio" name="radio2"> B</label>
    <button class="uk-button uk-button-primary" type="submit">Add option</button>
    </div>

    <input class="uk-button uk-button-primary" type="submit" value="Post voteing">
</div>
<legend>А ТУТ нИЧЕГО НЕТ</legend>
<div class="uk-card uk-card-default uk-dark uk-card-hover uk-card-body uk-width-2-2@m uk-animation-slide-top">
    <legend class="uk-legend">New voting</legend>

    <div class="uk-margin">
        <input class="uk-input" type="text" placeholder="Title">
    </div>

    <div class="uk-margin">
        <textarea class="uk-textarea" rows="5" placeholder="Ты, да, да, именно ты должен дописать эту форму, это вовсе не рабочая страница, это костыль который ТЫ ДОЛЖЕН ДОВЕСТИ ДО УМА"></textarea>
    </div>

    <div class="uk-margin">
        <span class="uk-text-middle">Voting type</span>
        <select class="uk-select">
            <option>Type1</option>
            <option>Type2</option>
            <option>Type3</option>
        </select>
    </div>

    <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
        <label><input class="uk-radio" type="radio" name="radio2" checked> A</label>
        <label><input class="uk-radio" type="radio" name="radio2"> B</label>
    <button class="uk-button uk-button-primary" type="submit">Add option</button>
    </div>

    <input class="uk-button uk-button-primary" type="submit" value="Post voteing">
</div>
<legend>А ТУТ нИЧЕГО НЕТ</legend>
<div class="uk-card uk-card-default uk-dark uk-card-hover uk-card-body uk-width-2-2@m uk-animation-slide-top">
    <legend class="uk-legend">New voting</legend>

    <div class="uk-margin">
        <input class="uk-input" type="text" placeholder="Title">
    </div>

    <div class="uk-margin">
        <textarea class="uk-textarea" rows="5" placeholder="Ты, да, да, именно ты должен дописать эту форму, это вовсе не рабочая страница, это костыль который ТЫ ДОЛЖЕН ДОВЕСТИ ДО УМА"></textarea>
    </div>

    <div class="uk-margin">
        <span class="uk-text-middle">Voting type</span>
        <select class="uk-select">
            <option>Type1</option>
            <option>Type2</option>
            <option>Type3</option>
        </select>
    </div>

    <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
        <label><input class="uk-radio" type="radio" name="radio2" checked> A</label>
        <label><input class="uk-radio" type="radio" name="radio2"> B</label>
    <button class="uk-button uk-button-primary" type="submit">Add option</button>
    </div>

    <input class="uk-button uk-button-primary" type="submit" value="Post voteing">
</div>
<legend>А ТУТ нИЧЕГО НЕТ</legend>
{% endblock %}