<form method="post" class="uk-card uk-card-default uk-dark uk-card-hover uk-card-body uk-width-2-2@m uk-animation-slide-top">
    {% csrf_token %}
    <br class="uk-fieldset">
    <div class="uk-card-header">
        <legend class="uk-legend uk-text-middle uk-flex uk-flex-center" >The topic for voting</legend>
    </div>

    <div class="uk-card-body">
        <div class="uk-flex">
            <button class="uk-button uk-button-default uk-width-1-1" type="button" style="margin-bottom:1.3em;">Variant1</button>
        </div>

        <div class="uk-flex">
            <button class="uk-button uk-button-default uk-width-1-1" type="button" style="margin-bottom:1.3em;">Variant2</button>
        </div>

        <div class="uk-flex">
            <button class="uk-button uk-button-default uk-width-1-1" type="button" style="margin-bottom:1.3em;">Variant3</button>
        </div>

        <div class="uk-flex uk-flex-right">
            <button class="uk-button uk-button-default uk-flex-right" align="right"type="button" style="margin-bottom:1.3em;">Like</button>
        </div>
    </div>

    </fieldset>

    </form>