<form method="post" class="uk-card uk-card-default uk-dark uk-card-hover uk-card-body uk-width-2-2@m uk-animation-slide-top" style="margin-bottom: 2em">
    {% csrf_token %}
    <br class="uk-fieldset">
    <div class="uk-card-header">
        <legend class="uk-legend uk-text-middle uk-flex uk-flex-center" >{{ vote.text}}</legend>
    </div>

    <div class="uk-card-body">
        {% for choice in vote.choices %}
        <div class="">
            <legend class="uk-button uk-button-primary uk-button-small" style="margin-bottom:1em">{{ choice.text }}: {{ choice.voters_cnt }}</legend>
            <progress class="uk-progress" value="50" max="100" style="margin-bottom:1em"></progress>
        </div>
        {% endfor %}

        <div class="uk-modal-footer uk-text-right">
            <input class="uk-button uk-button-danger uk-margin-small-right"  id="del{{ vote.id }}" align="right" type="submit" style="margin-bottom:1.3em;" value="Удалить">
        </div>
    </div>

</form>