<div class="wrapper">
    {% include "navigation/menu_drop.html" %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" uk-navbar>
    <div class="uk-navbar-left">

        <button type="button" id="sidebarCollapse" class="btn btn-info">
                <img src="../../../static/icons/32x32/logo.png">
            </button>
            <a class="navbar-brand" style="padding: 10px;" href="/">Voting box</a>

        <ul class="uk-navbar-nav">
            <li class="nav-item active">
                    {% for item in MenuMain %}
                            <button class="uk-button uk-button-light" href="{{ item.punct_link }}"
                            onClick='location.href="{{ item.punct_link }}"'>{{ item.punct_text }}</button>
                    {% endfor %}
            </li>
        </ul>

    </div>
    <div class="uk-navbar-right">
        <input class="uk-input uk-form-width-small" type="text" placeholder="Search">
            <li class="nav-item active">
                {% for item in MenuMainAnon %}
                        <button class="uk-button uk-button-primary"
                                onClick='location.href="{{ item.punct_link }}"'>{{ item.punct_text }}</button>
                {% endfor %}
            </li>
    </div>
</nav>

</div>