<nav id="sidebar" class="sidebar-dark bg-dark">
    <div id="dismiss" class="bg-dark" style="padding: 10px;">
        <i class="fas fa-arrow-left"></i>
    </div>

    <div class="sidebar-header bg-dark">
        <h3>
            <img src="../../../static/icons/50x50/logo_mini.png">

            <span style="color: #fff">Voting Box</span>
        </h3>
    </div>

    <ul class="list-unstyled components bg-dark">
        <!--<p>Dummy Heading</p>-->
        <li>
            <a href="#" style="display: inline-block; width: 100%;" class="bg-dark">
                <img src="../../../static/icons/16x16/home.png" style="display: inline-block;">
                Home
            </a>
            <br>
            <a href="#" style="display: inline-block; width: 100%;" class="bg-dark">
                <img src="../../../static/icons/16x16/subscribes.png" style="display: inline-block;">
                Subscriptions
            </a>
            <hr>
            <a href="#" style="display: inline-block; width: 100%;" class="bg-dark">
                <img src="../../../static/icons/16x16/history.png" style="display: inline-block;">
                History
            </a>
            <br>
            <a href="#" style="display: inline-block; width: 100%;" class="bg-dark">
                <img src="../../../static/icons/16x16/like.png" style="display: inline-block;">
                Liked
            </a>
            <hr>
            <p style="position: relative; left: 3%; color: #c7c4c4"> SUBSCRIPTIONS </p>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="bg-dark">
                <img src="../../../static/icons/24x24/user.png" style="display: inline-block;">
                Friends
            </a>
            <ul class="collapse list-unstyled bg-dark" id="pageSubmenu">
                <li class="bg-dark">
                    <a href="#" style="display: inline-block; width: 100%;" class="bg-dark">
                        <img src="../../../static/icons/24x24/user.png" style="display: inline-block;">
                        Friend 1
                    </a>
                </li>
                <li>
                    <a href="#" style="display: inline-block; width: 100%;" class="bg-dark">
                        <img src="../../../static/icons/24x24/user.png" style="display: inline-block;">
                        Friend 2
                    </a>
                </li>
                <li>
                    <a href="#" style="display: inline-block; width: 100%;" class="bg-dark">
                        <img src="../../../static/icons/24x24/user.png" style="display: inline-block;">
                        Friend 3
                    </a>
                </li>
            </ul>
        </li>
        <hr>
        <li>
            <a href="#" style="display: inline-block; width: 100%;" class="bg-dark">
                <img src="../../../static/icons/24x24/user.png" style="display: inline-block;">
                Portfolio
            </a>
        </li>
        <!--
        <hr>
        <li>
            <a href="#contactSubmenu" data-toggle="collapse" aria-expanded="false">
                <img src="icon.png" style="display: inline-block;">                             //ВСТАВИТЬ КАРТИНКУ!!!
                Contacts
            </a>
            <ul class="collapse list-unstyled bg-dark" id="pageSubmenu">
                <li>
                    <a href="#" style="display: inline-block; width: 100%;">
                        <img src="icon.png" style="display: inline-block;">                       //ВСТАВИТЬ КАРТИНКУ!!!
                        Contact1: 8 916 123 45 67
                    </a>
                </li>
                <li>
                    <a href="#" style="display: inline-block; width: 100%;">
                        Contact2: 8 916 123 45 67
                        <img src="icon.png" style="display: inline-block;">                       //ВСТАВИТЬ КАРТИНКУ!!!
                    </a>
                </li>
                <li>
                    <a href="#" style="display: inline-block; width: 100%;">
                        <img src="icon.png" style="display: inline-block;">                       //ВСТАВИТЬ КАРТИНКУ!!!
                        Contact3: 8 916 123 45 67
                    </a>
                </li>
            </ul>
        </li>
        -->
    </ul>
    <!-- Прикольные штуки, которые можно юзать
    <ul class="list-unstyled CTAs">
        <li>
            <a href="" class="download">Download some source</a>
        </li>
        <li>
            <a href="https://blog-kopilka.ru/blog/bootstrap-41-sidebar-bokovaya-panel" class="article">Назад в статью</a>
        </li>
    </ul>
    -->
</nav>