<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{% static '/web/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'uikit/css/uikit.css' %}">
        <link rel="stylesheet" href="{% static 'uikit/css/uikit.min.css' %}">
        <link rel="stylesheet" href="{% static 'uikit/css/uikit-rtl.css' %}">
        <link rel="stylesheet" href="{% static 'uikit/css/uikit-rtl.min.css' %}">
        <link rel="stylesheet" href="{% static '/web/css/style.css' %}">
    </head>

    <body>
        {% include "../navigation/menu.html" %}

        {% block content %}
        {% endblock %}
        <script src="{% static 'uikit/js/uikit.js' %}"></script>
        <script src="{% static 'uikit/js/uikit.min.js' %}"></script>
        <script src="{% static 'uikit/js/uikit-icons.js' %}"></script>
        <script src="{% static 'uikit/js/uikit-icons.min.js' %}"></script>
    </body>
</html>