<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{% static '/web/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'uikit/css/uikit.css' %}">
        <link rel="stylesheet" href="{% static 'uikit/css/uikit.min.css' %}">
        <link rel="stylesheet" href="{% static 'uikit/css/uikit-rtl.css' %}">
        <link rel="stylesheet" href="{% static 'uikit/css/uikit-rtl.min.css' %}">
        <link rel="stylesheet" href="{% static '/web/css/style.css' %}">

        #bootstrap
        <link rel="stylesheet" crossorigin="anonymous"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh">
        <link rel="stylesheet"
              href="https://getbootstrap.com/docs/4.4/examples/sticky-footer-navbar/sticky-footer-navbar.css">
    </head>

    <body>
        {% include "../navigation/menu_main.html" %}

        {% block content %}
        {% endblock %}
        <script src="{% static 'uikit/js/uikit.js' %}"></script>
        <script src="{% static 'uikit/js/uikit.min.js' %}"></script>
        <script src="{% static 'uikit/js/uikit-icons.js' %}"></script>
        <script src="{% static 'uikit/js/uikit-icons.min.js' %}"></script>
    </body>
</html>